**/__pycache__
**/.git
**/.github
**/.gitignore
**/.pytest_cache
**/.coverage
**/venv
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/*~
**/.env
**/.DS_Store
**/db.sqlite
**/qr_codes/*
**/tests
**/.coveragerc